@font-face {
  font-family: 'FogtwoNo5';
  src: url('FogtwoNo5.otf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text-container {
  position: absolute;
  color: white;
  text-align: left;
  z-index: 2;
}

@media (min-width: 1025px) {
  .text-container {
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
      margin-right: 45px;
  }
}

@media (max-width: 1024px) {
  .text-container {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.text-container h1 {
  font-family: 'FogtwoNo5', sans-serif;
  font-size: 30px;
  margin: 0;
}

.text-container h2 {
  font-family: 'FogtwoNo5', sans-serif;
  margin: 0 0 0 0 ;
  font-size: 25px;
}

.text-container p {
  font-family: 'Lato', sans-serif;
  margin: 5px 0 0 0 ;
  font-size: 1.2em;
}

.main-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  .intro.desktop {
      display: flex;
      background: url('SCL_5963.JPG') no-repeat center center/cover;
  }
  .intro.mobile {
      display: none;
  }
}

@media (max-width: 1024px) {
  .intro.desktop {
      display: none;
  }
  .intro.mobile {
      display: flex;
  }

  .intro.left, .intro.right {
      width: 50%;
      height: 100%;
      position: fixed;
      top: 0;
      background-size: cover;
      background-position: center center;
  }

  .intro.left {
      right: 50%;
      background: url('images/door-new_01.jpg') no-repeat center center/cover;
      background-position: 100% 50%;
  }

  .intro.right {
      left: 50%;
      background: url('images/door-new_02.jpg') no-repeat center center/cover;
      background-position: 0% 50%;
  }
}

.fade-out {
  animation: fade-out 1s forwards;
}

.slide-up {
  animation: slide-up 1s forwards;
}

.open-door-left {
  animation: open-door-left 1s forwards;
}

.open-door-right {
  animation: open-door-right 1s forwards;
}

@keyframes fade-out {
  to {
      opacity: 0;
  }
}

@keyframes slide-up {
  to {
      transform: translateY(-100%);
  }
}

@keyframes open-door-left {
  to {
      transform: translateX(-100%);
  }
}

@keyframes open-door-right {
  to {
      transform: translateX(100%);
  }
}