@font-face {
  font-family: "FogtwoNo5";
  src: url("FogtwoNo5.otf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Intro Screen */
.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.text-container {
  position: absolute;
  color: white;
  text-align: left;
  z-index: 2;
}

@media (min-width: 1025px) {
  .text-container {
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin-right: 45px;
  }
}

@media (max-width: 1024px) {
  .text-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.text-container h1 {
  font-family: "FogtwoNo5", sans-serif;
  font-size: 30px;
  margin: 0;
}

.text-container h2 {
  font-family: "FogtwoNo5", sans-serif;
  margin: 0 0 0 0;
  font-size: 25px;
}

.text-container p {
  font-family: "Lato", sans-serif;
  margin: 5px 0 0 0;
  font-size: 1.2em;
}

.intro.desktop {
  display: flex;
  background: url("./images/filler/BG.png") no-repeat center center/cover;
}

.content {
  position: relative;
  z-index: 2;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: absolute;
  top: 6%;
  left: 4%;
  right: 4%;
  bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4vh;
  -webkit-border-radius: 4vh;
  -moz-border-radius: 4vh;
  -ms-border-radius: 4vh;
  -o-border-radius: 4vh;
}

.mobile-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5vh;
  -webkit-border-radius: 5vh;
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
}

.judul {
  position: absolute;
  width: 25%;
  height: auto;
  top: 5px;
  right: 2%;
  z-index: 3;
}

.text-box {
  width: 21%;
  height: auto;
  position: absolute;
  bottom: 5%;
  right: 4%;
  z-index: 3;
}

.boneka {
  position: absolute;
  width: 25%;
  height: auto;
  left: -1vh;
  bottom: 1vh;
  z-index: 3;
}

/* MUTE BUTTON */
.mute-button {
  position: fixed;
  top: 1vh;
  right: 1vh;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 25%;
  /* Changed border-radius to a percentage value */
  padding: 1vh;
  /* Reduced padding for smaller size */
  width: 5vh;
  /* Reduced width for smaller size */
  height: 5vh;
  /* Reduced height for smaller size */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.mute-button i {
  font-size: 2.5vh;
  color: #4f4f4f;
}

/* SECTION 1 */

/* SECTION 2 */

/* SECTION 3 */
.saveTheDate {
  max-width: 80%;
  height: auto;
  /* margin-bottom: 20px; */
}

.date {
  max-width: 65%;
  height: auto;
  margin-bottom: 20px;
}

.addReminder {
  width: 50%;
  height: auto;
}

/* SECTION 4 */

/* SECTION 5 */

/* SECTION 6 */

/* SECTION 7 */

/* SECTION 8 */

@media (max-width: 1024px) {
  .judul {
    width: 50%;
    text-align: center;
    right: -4vh;
    top: -5vh;
  }
  .text-box {
    bottom: 5vh;
    width: 40%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .boneka {
    display: none;
  }
  .image-container {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
}

@media (max-width: 991px) {
  .content {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}

/* Main Page and Filler */
.main-container {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* vertical scrolling */
}

@media (min-width: 1025px) {
  .main-container {
    display: flex;
  }
  #image-filler .judul-filler {
    position: absolute;
    width: 35%;
    height: auto;
    bottom: 3vh;
    right: 1vh;
    z-index: 6;
  }
  #image-filler .bunga {
    position: absolute;
    width: 37%;
    height: auto;
    top: 1vh;
    left: 1vh;
    z-index: 6;
  }
  #image-filler .image {
    position: fixed;
    top: 6.1%;
    left: 2.8%;
    width: 59%;
    height: 87.7%;
    border-radius: 5vh;
    z-index: 5;
    -webkit-border-radius: 5vh;
    -moz-border-radius: 5vh;
    -ms-border-radius: 5vh;
    -o-border-radius: 5vh;
  }
  .image-filler {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    height: 100vh;
    background: url("FIGMA/Main Page Dekstop.png") no-repeat center center/cover;
    overflow: hidden;
  }
  .image-filler img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-page {
    margin-left: 65%;
    width: 35%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
  }
  .section {
    position: relative;
  }
  .judul-s1 {
    max-width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 7vh;
    right: 8%;
    z-index: 7;
  }
  .saveTheDate {
    position: absolute;
    top: -20%;
    left: 13vh;
    width: 70%;
 }
}

@media (max-width: 1024px) {
  .main-page {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .image-filler {
    display: none;
  }

}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .background {
  width: 100%;
  height: auto;
}

.section {
  position: relative;
}

.judul-s1 {
  max-width: 84%;
  height: auto;
  position: absolute;
  top: 0;
  margin-top: 7vh;
  right: 7%;
  z-index: 7;
}

.slide-up {
  animation: slide-up 1s forwards;
  -webkit-animation: slide-up 1s forwards;
}

@keyframes slide-up {
  to {
    transform: translateY(-100%);
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.444vh;
}

::-webkit-scrollbar-track {
  background: #b58d90;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fcd1d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5bfc2;
}
